In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("heartat.csv")

In [4]:
data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
#Understanding each variable
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
#See a statistical summary of variables with numeric types
data.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
data.shape

(303, 14)

In [8]:
#Drop duplicate value
data=data.drop_duplicates()

In [9]:
data.shape

(302, 14)

In [10]:
#Check the missing value
data.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [11]:
data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
from sklearn.model_selection import train_test_split

##partition data into data training and data testing
train,test = train_test_split(data,test_size = 0.20 ,random_state = 111)
    
##seperating dependent and independent variables on training and testing data
train_X = train.drop(labels='output',axis=1)
train_Y = train['output']
test_X  = test.drop(labels='output',axis=1)
test_Y  = test['output']

In [14]:
#Proportion before smote
train_Y.value_counts()

1    124
0    117
Name: output, dtype: int64

In [16]:
from imblearn.over_sampling import SMOTE

#handle imbalance class using oversampling minority class with smote method
os = SMOTE(sampling_strategy='minority',random_state = 123,k_neighbors=5)
train_smote_X,train_smote_Y = os.fit_resample(train_X,train_Y)
train_smote_X = pd.DataFrame(data = train_smote_X,columns=train_X.columns)
train_smote_Y = pd.DataFrame(data = train_smote_Y)

In [17]:
#Proportion after smote
train_smote_Y.value_counts()

output
0         124
1         124
dtype: int64

# SVM

In [18]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
svm=SVC()
param_grid = { 
    "C" : [0.1, 1],
    "gamma" : [0.1, 1],
    "kernel":["linear","rbf"]
}

In [20]:
from sklearn.model_selection import GridSearchCV
CV_svm = GridSearchCV(estimator=svm, param_grid=param_grid, cv= 2)
CV_svm.fit(train_smote_X, train_smote_Y)

c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
c:\users\rezfan\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GridSearchCV(cv=2, estimator=SVC(),
             param_grid={'C': [0.1, 1], 'gamma': [0.1, 1],
                         'kernel': ['linear', 'rbf']})

In [23]:
#evaluation
pred=CV_svm.predict(test_X)

In [24]:
from sklearn.metrics import accuracy_score
print("Accuracy for Logreg on test data: ",accuracy_score(test_Y,pred))

Accuracy for Logreg on test data:  0.9180327868852459

In [25]:
from sklearn.metrics import confusion_matrix
CF=confusion_matrix(test_Y, pred)
CF

array([[19,  2],
       [ 3, 37]], dtype=int64)

In [26]:
from sklearn.metrics import classification_report
target_names = ['No','Yes']
print(classification_report(test_Y,pred, target_names=target_names))

              precision    recall  f1-score   support

          No       0.86      0.90      0.88        21
         Yes       0.95      0.93      0.94        40

    accuracy                           0.92        61
   macro avg       0.91      0.91      0.91        61
weighted avg       0.92      0.92      0.92        61

# Regresi Logistik

In [48]:
import statsmodels.api as sm 
exog = sm.add_constant(train_smote_X)
log_reg = sm.Logit(train_smote_Y, exog).fit() 
print(log_reg.summary())

Optimization terminated successfully.
         Current function value: 0.349734
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 output   No. Observations:                  248
Model:                          Logit   Df Residuals:                      234
Method:                           MLE   Df Model:                           13
Date:                Tue, 27 Apr 2021   Pseudo R-squ.:                  0.4954
Time:                        12:06:46   Log-Likelihood:                -86.734
converged:                       True   LL-Null:                       -171.90
Covariance Type:            nonrobust   LLR p-value:                 1.580e-29
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.2980      2.999      1.100      0.271      -2.580       9.176
age            0.0087      0.025      0.346      0.730      -0.041       0.058
sex           -1.8644      0.517     -3.609      0.000      -2.877      -0.852
cp             0.8625      0.207      4.164      0.000       0.457       1.269
trtbps        -0.0206      0.012     -1.686      0.092      -0.044       0.003
chol          -0.0084      0.005     -1.754      0.079      -0.018       0.001
fbs            0.0554      0.592      0.094      0.925      -1.105       1.215
restecg        0.4075      0.379      1.076      0.282      -0.335       1.150
thalachh       0.0259      0.012      2.118      0.034       0.002       0.050
exng          -0.6705      0.480     -1.398      0.162      -1.610       0.270
oldpeak       -0.4790      0.231     -2.074      0.038      -0.932      -0.026
slp            0.6177      0.381      1.622      0.105      -0.129       1.364
caa           -1.0269      0.247     -4.151      0.000      -1.512      -0.542
thall         -0.9479      0.317     -2.989      0.003      -1.570      -0.326
==============================================================================

In [50]:
exog = sm.add_constant(train_smote_X.drop(labels="fbs",axis=1))
log_reg = sm.Logit(train_smote_Y, exog).fit() 
print(log_reg.summary())

Optimization terminated successfully.
         Current function value: 0.349752
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 output   No. Observations:                  248
Model:                          Logit   Df Residuals:                      235
Method:                           MLE   Df Model:                           12
Date:                Tue, 27 Apr 2021   Pseudo R-squ.:                  0.4954
Time:                        12:07:08   Log-Likelihood:                -86.738
converged:                       True   LL-Null:                       -171.90
Covariance Type:            nonrobust   LLR p-value:                 4.098e-30
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.2645      2.978      1.096      0.273      -2.573       9.102
age            0.0090      0.025      0.357      0.721      -0.040       0.058
sex           -1.8614      0.516     -3.608      0.000      -2.873      -0.850
cp             0.8669      0.202      4.286      0.000       0.470       1.263
trtbps        -0.0205      0.012     -1.684      0.092      -0.044       0.003
chol          -0.0083      0.005     -1.754      0.079      -0.018       0.001
restecg        0.4084      0.379      1.079      0.281      -0.334       1.150
thalachh       0.0259      0.012      2.130      0.033       0.002       0.050
exng          -0.6641      0.475     -1.398      0.162      -1.595       0.267
oldpeak       -0.4813      0.230     -2.095      0.036      -0.932      -0.031
slp            0.6154      0.380      1.620      0.105      -0.129       1.360
caa           -1.0249      0.246     -4.161      0.000      -1.508      -0.542
thall         -0.9525      0.313     -3.042      0.002      -1.566      -0.339
==============================================================================

In [51]:
pred=log_reg.predict(sm.add_constant(test_X.drop(labels="fbs",axis=1)))

In [52]:
from sklearn.metrics import accuracy_score
print("Accuracy for Logreg on test data: ",accuracy_score(test_Y,np.round(pred)))

Accuracy for Logreg on test data:  0.8852459016393442

In [53]:
from sklearn.metrics import confusion_matrix
CF=confusion_matrix(test_Y, np.round(pred))
CF

array([[19,  2],
       [ 5, 35]], dtype=int64)

In [54]:
from sklearn.metrics import classification_report
target_names = ['No','Yes']
print(classification_report(test_Y, np.round(pred), target_names=target_names))

              precision    recall  f1-score   support

          No       0.79      0.90      0.84        21
         Yes       0.95      0.88      0.91        40

    accuracy                           0.89        61
   macro avg       0.87      0.89      0.88        61
weighted avg       0.89      0.89      0.89        61