## Dataframe

In [ ]:
import pandas as pd 
#Data Frame 
#Rows -> 2 Rows (Jane, Jake)
#Column -> 2 Columns (Name Gender)

data= {"Name":["Jane","Jack"], "Gender":["Female","Male"],"Class":["First Class","Economy"]}

pd.DataFrame(data)

# Preparation
- Importing pandas
- Reading files
    - CSV
    - JSON
    - XLS
    - TXT
    - https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

## Importing Pandas

In [ ]:
import pandas as pd 

df = pd.read_csv("Titanic.csv")

## Reading Files

In [ ]:
#print(df)

df

## Data Types

In [ ]:
df.dtypes

## Reading & Filtering Data

- Reading top and bottom rows (head and tail)
- Reading headers (column names) and data types
- Reading datas from specific columns
- Reading datas from specific rows
- Getting datas from specific row and column
- Iterating datas through rows

In [ ]:
#Check the first five rows (by default)
df.head()

#Check the first n rows e.g. first 10 rwos 
df.head(10) 

#Check the last five rows (by default)
df.tail()

#Check the last h riws e.g. last 10 rows 
df.tail(10)

#Check columnns
df.columns

#Check  a specific column 
df["Name"]

#Check specific columns 
df[["Name","Sex","Age"]]

#Check specific row 
df.iloc[0]

#Check specific rows 
df.iloc[0:10+1]

#Check specific rows and columns 1
df.iloc[0:50][["Name","Age","Sex","Fare"]]

#Check specific rows and columns 2
df.iloc[0:50,[3,4,5,9]]

#Check specific rows and columns 3
df.iloc[0:50,3:5+1]

#male data only 
df[df["Sex"] == "male"]

# Iterating datas through rows 1
# for i in range (len(df)) : 
#     print(i, df["Name"][i], df["Age"][i], df["Sex"][i])


# Iterating datas through rows 2
# for index, row in df.iterrows():
#     print(index,row["Name"],row["Age"],row["Sex"])

## Filtering

- Filtering data based on multiple conditions
- Regex filtering
- Resetting index

In [ ]:
df = pd.read_csv("Titanic.csv")

#Filter based on certain condition 
first = df.loc[df["Pclass"] == 1]


#Filter based on multiple conditions 
first_and_survived = df.loc[(df["Pclass"] == 1)&(df["Survived"] == 1)]


#Regex 
#String Contains 
mrs_only = df.loc[df["Name"].str.contains("Mrs.")]

In [ ]:
#Regex 
#Import re 
import re 

#Loc string that contain 
mary_only = df.loc[df["Name"].str.contains("mary",flags = re.I)] 

mary_only

df.loc[df["Ticket"].str.contains("^PC[a-z]*", flags = re.I)]

#Resetting Index 
mary_only.reset_index(drop = True)

# Describing Data
- Getting count, mean, min, max, etc
- Sorting datas

In [ ]:
#Count, mean, min, max, etc. 
df.describe()

#Describe the data first
mary_only.describe()

#Sorting the values using sort_values 
mary_only.sort_values(["Survived","Fare","Age"],ascending = ["True","True","True"]).reset_index(drop = True)

# Editing the Dataframe
- Adding columns
- Delete columns
- Rearranging columns
- Saving data to a new file

In [ ]:
df = pd.read_csv("Titanic.csv")
#Adding Columns 
df.head(10)

df["Family"] = df["SibSp"] + df["Parch"]

df.head(10)

#Delete columns 
no_fam = df.drop(columns= ["Family"])

#Rearrange 
df.head(10)

#Get the column first 
cols = list(df.columns)

#Reaarrange process 
df = df[cols[0:6] + [cols[12]] + cols[6:12]]
df

## Saving Data to A new Files

In [ ]:
#Saving back to CSV
df.to_csv("Titanic_edited.csv") 

df.to_json("Titanic_edited.json")

df.to_excel("Titanic_edited.xlsx")

# Aggregate Statistics
- mean
- sum
- count

In [ ]:
#Non specific 
#Mean
df.mean()
#Sum 
df.sum()
#Count
df.count()

#Specific 
#Groupby mean 
df.groupby(["Survived"]).mean()

#Groupby sum
df.groupby(["Sex"]).sum()

#Groupby count
df.groupby(["Survived"]).count()

# Cleaning datas
- Importing numpy

In [ ]:
# df.head(10)
# import numpy as np
import numpy as np

# Replacing Data

In [ ]:
#Replacing a column 
df.loc[df["Pclass"] == 1, "Pclass"] = "First Class"

#Replacing columns
df.loc[df["Fare"] < 10,["Pclass","Cabin"]] = ["Second Class","Small Cabin"]
df

# Replacing null with mean
The age column is numbers, make sense to replace the null with the mean value

In [ ]:
#Repl
# find mean of a certain column  e.g age 
age_mean = np.mean(df["Age"])

# replacing Nan (null value) with mean 
df.loc[pd.isnull(df["Age"]),"Age"] = age_mean 

#Use count to make sure
df.count()

#Show 10 first data to double check 
df.head(10)

# Dropping columns with a lot of null
The cabin column is more than 75% null, so we can drop it

In [ ]:
df = pd.read_csv("Titanic.csv")


# find mean of a certain column  e.g age 
age_mean = np.mean(df["Age"])

# replacing Nan (null value) with mean 
df.loc[pd.isnull(df["Age"]),"Age"] = age_mean 

#Count to check agin 
df.groupby(["Survived"]).count()

df = df.drop(columns = ["Cabin"])

# Replacing null with most common value
The embarked column is letters, so we can replace the null with the most common value

In [ ]:
df.groupby(["Survived"]).count()

df.groupby(["Embarked"]).count()

df.loc[pd.isnull(df["Embarked"]),"Embarked"] = "S" 

df.count()

df

# Setting Chunksize

In [ ]:
# for df in pd.read_csv("Titanic.csv", chunksize = 50):
#     print(df)

new_df = pd.DataFrame(columns = df.columns)
new_df

for df_iter in pd.read_csv("Titanic.csv", chunksize = 10):
    results = df_iter.groupby(["Pclass"]).count()
    new_df = pd.concat([new_df, results])

new_df.groupby(level = 0).sum()