<a href="https://colab.research.google.com/github/Rezfan-13/Code/blob/main/LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*31 January 2021*

**1.LIST**

In [ ]:
#list dibuat dengan menggunakan bracket [] dan setiap anggota nya di pisah menggunakan tanda koma.
a = [19,5,22]
print(a)

[19, 5, 22]

***menambah elemen ke dalam list***

In [ ]:
#append: menambahkan satu elemen ke bagian akhir list
rezfan=[29,"atmadja",9,92,3,13,4,24]
rezfan.append(19)
print(rezfan)

#insert: menyisipkan satu elemen baru ke dalam list pada posisi atau index yang kita inginkan
rezfan.insert(0,30)
print(rezfan)

#extend : menggambungkan list dengan list atau data berkelompok dari tipe lain
rezfan.extend([3,1,3,4,1,3,4])
print(rezfan)

[29, 'atmadja', 9, 92, 3, 13, 4, 24, 19]
[30, 29, 'atmadja', 9, 92, 3, 13, 4, 24, 19]
[30, 29, 'atmadja', 9, 92, 3, 13, 4, 24, 19, 3, 1, 3, 4, 1, 3, 4]

***menghapus elemen list***

In [ ]:
#del : menghapus elemen list yang terletak pada indeks tertentu
nama=["jenita","nina","chanda","cintia"]
del nama[0]
print(nama)

#remove: menghapus value tertentu pada list
nama.remove("nina")
print(nama)

#pop: : menghapus elemen paling akhir
nama.pop()
print(nama)

['nina', 'chanda', 'cintia']
['chanda', 'cintia']
['chanda']

***mengurutkan elemen list***

In [13]:
rez=[1,5,2,7,24,90,6,34]
#metode 1 list.sort()
rez.sort()
print(rez)

#metode 2 sorted()
b=sorted(rez)
print(b)

#mengurutkan nilai secara terbalik
c=sorted(rez, reverse= True)
print(c)

[1, 2, 5, 6, 7, 24, 34, 90]
[1, 2, 5, 6, 7, 24, 34, 90]
[90, 34, 24, 7, 6, 5, 2, 1]

***membalik urutan elemen list***

In [19]:
fan=[9,2,34,5,1,3,4]
fan.reverse
print(fan)

rez=[81,3,5,3,643,8,9,32,43]
rez.reverse
print(rez)

[9, 2, 34, 5, 1, 3, 4]
[81, 3, 5, 3, 643, 8, 9, 32, 43]

***mencari nilai maksimum dan minimum***

In [22]:
jen=[12,3,1,413,4,1,3,14,1,44441,413,413,0]
b=min(jen)
x=max(jen)
print("nilai maksimum dan minimum dari list adalah",x," dan",b)
#Pemakaian min() dan max() bisa untuk semua data berkelompok, tidak hanya list

nilai maksimum dan minimum dari list adalah 44441  dan 0

***Slice***

In [31]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
print(x[1:6])
print(x[:7])

print(x[1:])
print(x[5:7])

print(x[1:-1])
print(x[11:-1])

[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[6, 7]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[12, 13, 14, 15, 16, 17]

In [37]:
#mengambil nilai ke N dari List
x=[1,2,3,4,5,6,7,8,9,10,11,12,14,15,1,19,20]
print(x[::1])
print(x[::2])
print(x[1:10:2])

print(x[::-3])

#ganti nilai menggunakan slice
x[:5]=[12,3,3,4]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 1, 19, 20]
[1, 3, 5, 7, 9, 11, 14, 1, 20]
[2, 4, 6, 8, 10]
[20, 15, 11, 8, 5, 2]
[12, 3, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 1, 19, 20]