<a href="https://colab.research.google.com/github/Rezfan-13/Code/blob/main/Tupple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2.TUPPLE**

In [3]:
# tupple = data berkelompok yang setiap nilai elemennya bersifat tetap dan tidak dapat dibah

rez=(1,3,4,5,6)
print(type(rez))

#mengakses nilai Tupple sama seperti kita mencoba untuk mengakses nilai List
print(rez[0])
print(rez[1])
print(rez[2])
print(rez[3])
print(rez[4])

<class 'tuple'>
1
3
4
5
6

***menghitung banyak nya elemen yang sama di tupple***

In [12]:
fan=(1,33,33,1,4,6,33,63,22,54,22,63,54)
print(fan.count(33))
print(fan.count(22))
print(fan.count(54))
print(fan.count(23))

3
2
2
0

***mencari nilai Max dan MIn***

In [14]:
rez=[1,3,1,5,1,3,1,112,4,1,1,23,123131,3,0]
print(min(rez)) # mencari nilai minimum
print(max(rez)) #mencari nilai maximum

0
123131

***Slice***

In [29]:
rez=[1,3,1,5,1,3,1,112,4,1,1,23,123131,3,0]

print(rez[:5])
print(rez[5:])

print(rez[1:6])
print(rez[2:5])

print(rez[:-1])
print(rez[-5:-2])

[1, 3, 1, 5, 1]
[3, 1, 112, 4, 1, 1, 23, 123131, 3, 0]
[3, 1, 5, 1, 3]
[1, 5, 1]
[1, 3, 1, 5, 1, 3, 1, 112, 4, 1, 1, 23, 123131, 3]
[1, 23, 123131]